.services-container {
	@include clearfix;
	text-align: center;
	margin: 40px 100px;

	@media (min-width: 768px) {
		margin: 40px 30px;
	}

	@media (min-width: 375px) {
		margin: 40px 10px;
	}

	@media (min-width: 320px) {
		margin: 40px 30px;
	}

	h2 {
		margin: 0;
		padding: 0;

		font-family: "Roboto", Arial, Helvetica, sans-serif;
		font-size: 40px;
		font-weight: 400;
		color: #333333;

		@media (min-width: 1024px) {
			font-size: 3em;
		}
	}

	p {
		margin: 0;
		padding: 0;
		padding: 20px 0;

		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #747474;

		@media (min-width: 1024px) {
			font-size: 1.4em;
		}

		@media (min-width: 768px) {
			font-size: 18px;
		}
	}

	.services-nav {
		margin: 0;
		padding: 0;
		width: 100%;

		list-style-type: none;

		a {
			text-decoration: none;
			font-weight: 800;

			.services-nav__itm {
				display: inline-block;
				margin: 30px 0;
				padding-top: 20px;
				padding-bottom: 5px;
				width: 25%;
				float: left;

				border-radius: 5px;

				&:hover {
					background-color: #f4f4f4;
				}

				@media (min-width: 375px) {
					display: block;
					float: none;
					width: 100%;
				}

				@media (min-width: 320px) {
					display: block;
					width: 100%;
				}

				p {
					padding: 30px 0;
					padding-bottom: 0;
					margin: 0;

					color: #82bc00;
				}
			}
		}
	}
}
